<section id="content">
	<h1>Últimas Noticias</h1>
	<article>
		<h2>Noticia 1</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi minima
			ad vitae ex. Reprehenderit maiores, officia possimus ex rerum suscipit
			laudantium eveniet tempore consequatur delectus, maxime velit omnis sit
			aut.
		</p>
		<a href="#">Leer más</a>
	</article>

	<article>
		<h2>Noticia 2</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi minima
			ad vitae ex. Reprehenderit maiores, officia possimus ex rerum suscipit
			laudantium eveniet tempore consequatur delectus, maxime velit omnis sit
			aut.
		</p>
		<a href="#">Leer más</a>
	</article>

	<article>
		<h2>Noticia 3</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi minima
			ad vitae ex. Reprehenderit maiores, officia possimus ex rerum suscipit
			laudantium eveniet tempore consequatur delectus, maxime velit omnis sit
			aut.
		</p>
		<a href="#">Leer más</a>
	</article>
	<ul class="pagination">
		<li><a href="">1</a></li>
		<li><a href="">2</a></li>
		<li><a href="">3</a></li>
		<li><a href="">4</a></li>
		<li><a href="">5</a></li>
	</ul>
</section>
